body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:crimson;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Card styling */
  .card {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow;
    color: orangered;
  }
  .card:hover {
    transform: scale(1.05); /* Scale the card up slightly on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
/* Define a blinking animation */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the blinking effect to the .blinking-text class */
  .blinking-text {
    animation: blink 1s infinite; /* Infinite blinking effect */
    color: aqua;
  }
    